#-----------------------------------------------
# Répertoire : /
#-----------------------------------------------

# Le serveur doit suivre les liens symboliques : 
Options +FollowSymlinks

# Activation du module de réécriture d'URL : 
RewriteEngine on

#-----------------------------------------------
# Règles de réécriture d'URL : 
#-----------------------------------------------

# DETAIL OF A POST
# PATTERN: posts/id/slug-of-post.html
# URL: index.php?posts=x
RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\.html$ index.php?posts=$1 [L]

# ADD A POST
# PATTERN: posts/add/form.html
# URL: index.php?posts=edit 
RewriteRule ^posts\/add\/form\.html$ index.php?posts=edit [L]

# EDIT A POST
# PATTERN: posts/id/slug-of-post/edit/form.html
# URL: index.php?posts=edit&id=x
RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\/edit\/form\.html$ index.php?posts=edit&id=$1 [L]

# INSERT A POST
# PATTERN: posts/add/insert.html
# URL: index.php?posts=store
RewriteRule ^posts\/add\/insert\.html$ index.php?posts=store [L]

# UPDATE A POST
# PATTERN: posts/id/slug-of-post/edit/update.html
# URL: index.php?posts=update&id=x
RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\/edit\/update\.html$ index.php?posts=update&id=$1 [L]

# DELETE A POST
# PATTERN: posts/id/slug-of-post/delete.html
# URL: index.php?posts=delete&id=x
RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\/delete\.html$ index.php?posts=delete&id=$1 [L]

#-----------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|ico|png|jpg|jpeg|gif|zip|pdf|svg|eot|ttf|woff|woff2)$ [NC]
RewriteRule ^(.*)$ index.php [L]
