#-----------------------------------------------
# Répertoire : /
#-----------------------------------------------

# Le serveur doit suivre les liens symboliques : 
Options +FollowSymlinks

# Activation du module de réécriture d'URL : 
RewriteEngine on

#-----------------------------------------------
# Règles de réécriture d'URL : 
#-----------------------------------------------

# DETAIL OF A POST
# PATTERN: posts/id/slug-of-post.html
# URL: index.php?posts=x
RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\.html$ index.php?posts=$1 [L]

# ADDING A POST
# PATTERN: posts/add/form.html
# URL: index.php?posts=edit 
RewriteRule ^posts\/add\/form.html$ index.php?posts=edit [L]

#-----------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|ico|png|jpg|gif|zip|pdf|svg|eot|ttf|woff|woff2)$ [NC]
RewriteRule ^(.*)$ index.php [L]
